
@{    
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>延锋百利得（上海）汽车安全系统有限公司-登录</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/components/font-awesome/css/font-awesome.css" />
   
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/assets/css/ace.css" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Content/assets/css/ace-part2.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Content/assets/css/ace-ie.css" />
    <![endif]-->
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Content/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="~/Content/components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                
                                <img src="~/Content/images/logo1.ico" />

                                <span class="red">生产计划</span>
                                <span class="grey" id="id-text2">系统</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; 延锋百利得（上海）汽车安全系统有限公司</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            帐号登录
                                          </h4>

                                        <div class="space-6"></div>

                                        <form role="form" action="/Account/Login" method="post">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" name="txtName" id="txtName" class="form-control" placeholder="用户名"
                                                               data-rel="tooltip" title="请输入用户名!" data-placement="right" data-trigger="focus" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" name="txtPwd" id="txtPwd" class="form-control" placeholder="密码"
                                                               data-rel="tooltip" title="请输入密码!" data-placement="right" data-trigger="focus" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    @if(!string.IsNullOrEmpty(ViewBag.Error))
                                                    { 
                                                        <label id="mess" class="red">用户名或密码错误！</label>
                                                    }
                                                    <button type="submit" id="btnSave"  class="width-35 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">登录</span>
                                                    </button>
                                                </div>

                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>


                                    </div><!-- /.widget-main -->

                                 
                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                          
                        </div><!-- /.position-relative -->

                 
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/Content/components/jquery/dist/jquery.js"></script>

    <script src="~/Content/components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Content/components/jquery.1x/dist/jquery.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        $("#btnSave").click(function () {
            var result = CheckValue("txtName") && CheckValue("txtPwd");
            return result;
        });

        function CheckValue(name) {
            var control = $("#" + name + "");
            if (control.val() == "") {
                control.focus();
                return false;
            }
            return true;
        }

        jQuery(function ($) {            

            $('[data-rel=tooltip]').tooltip({ container: 'body' });
            $('[data-rel=popover]').popover({ container: 'body' });
           
        });


    </script>
</body>
</html>

