* {
    margin: 0;
    padding: 0;
}

dl, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

body, button, input, select, textarea {
    outline: 0;
    font: 400 12px/1 "Microsoft YaHei","微软雅黑",Arial;
}

body, html {
    height: 100%;
    width: 100%;
}


.fl {
    float: left;
}

.fr {
    float: right;
}

div.usermenu {
    position: absolute;
    font-size: 9pt;
    display: none;
    background-color: transparent;
}

div.usermenu s {
    z-index: 9999;
    position: absolute;
    top: -7px;
    right: -45px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #a7a5a5 transparent;
    border-style: dashed dashed solid dashed;
    border-width: 10px;
}

div.usermenu i {
    position: absolute;
    top: -9px;
    left: -10px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #fff transparent;
    border-style: dashed dashed solid dashed;
    border-width: 10px;
}

.fl8_body, body {
    background-color: #E7E8EB;
}

.clear {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:after {
        display: block;
        content: " ";
        height: 0;
        visibility: hidden;
        clear: both;
    }

.inner {
    width: 1200px;
    margin: 0 auto;
}

.header {
    border-top: 2px solid #16a085;
    width: 100%;
    height: 53px;
    background: #fff;
}

.header-logo {
    display: block;
    width: 200px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

    .header-logo img {
        vertical-align: top;
    }

.container {
    padding-top: 20px;
}

    .container .inner {
        background: #fff;
        border: 1px solid #d9dadc;
    }

.header-welcome {
    margin-right: 10px;
    line-height: 53px;
}

    .header-welcome span {
        font-family: Tahoma;
        font-size: 14px;
        font-weight: 700;
    }


.header-ctrl {
    margin-top: 10px;
}

.header-ctrl-item {
    position: relative;
    border: 1px solid #16a085;
    margin-right: -1px;
}

    .header-ctrl-item > a {
        background: none repeat scroll 0 0 #16a085;
        color: #fff;
        display: block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        width: 65px;
    }

        .header-ctrl-item > a:hover {
            background: #fff;
            color: black;
        }

    .header-ctrl-item.show .header-ctrl-item-parent {
        position: relative;
        top: 0;
        right: 0;
        height: 43px;
        background: #fff;
        color: #000;
        z-index: 999;
        border: 0;
    }

.header-ctrl-item-parent i.white {
    display: inline-block;
}

.header-ctrl-item-parent i, .header-ctrl-item.show .header-ctrl-item-parent i.white {
    display: none;
}

.header-ctrl-item.show .header-ctrl-item-parent i {
    display: inline-block;
}

.header-ctrl-item-children {
    display: block;
    position: absolute;
    text-align: center;
    top: 12px;
    right: -85px;
    width: 100px;
    padding: 0 0px;
    background: #fff;
    -moz-box-shadow: 1px 1px 5px #d1d1d1;
    -webkit-box-shadow: 1px 1px 5px #d1d1d1;
    box-shadow: 1px 1px 5px #d1d1d1;
    border: 1px solid #d1d1d1;
    z-index: 99;
}

.header-ctrl-item.show .header-ctrl-item-children {
    display: block;
}

.header-ctrl-item-children li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

    .header-ctrl-item-children li:last-child {
        border-bottom: 0;
    }

.header-ctrl-item-children a {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    color: #666;
}

    .header-ctrl-item-children a:hover {
        background: #ECECEC;
        color: #258925;
    }

.header-ctrl-subnav {
    padding: 5px 0;
    margin-left: 50px;
    padding-left: 5px;
}

    .header-ctrl-subnav .header-ctrl-item {
        position: relative;
        border-color: #fff;
        margin-right: 0;
    }

        .header-ctrl-subnav .header-ctrl-item.show {
            border-color: #999;
        }

        .header-ctrl-subnav .header-ctrl-item > a {
            width: auto;
            padding: 0 10px;
            text-align: center;
            color: #666;
            background: 0 0;
            font-weight: 700;
            height: 20px;
            line-height: 20px;
            font-size: 16px;
        }

        .header-ctrl-subnav .header-ctrl-item:first-child > a {
            border-left: 1px solid #999;
        }

        .header-ctrl-subnav .header-ctrl-item > a:hover {
            color: #0279CB;
        }

    .header-ctrl-subnav .header-ctrl-item-children {
        width: 90px;
        border-color: #999;
    }

        .header-ctrl-subnav .header-ctrl-item-children a {
            padding: 0 5px;
            font-weight: 700;
        }

.header-nav-list a {
    display: block;
    padding: 0 10px;
    min-width: 42px;
    line-height: 53px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

    .header-nav-list .active a, .header-nav-list a:hover {
        background-color: #16a085;
        color: #fff;
    }

.content-left {
    padding-top: 10px;
    width: 200px;
}

.left-menu {
    padding: 8px 0;
    font-size: 14px;
}

    .left-menu dd, .left-menu dt {
        line-height: 34px;
    }

    .left-menu dt {
        padding: 0 0 0 37px;
        color: #8d8d8d;
    }

        .left-menu dt i, .left-menu dt span {
            vertical-align: middle;
        }

        .left-menu dt a {
            display: block;
        }

            .left-menu dt a span {
                margin-left: 3px;
            }

    .left-menu dd a {
        display: block;
        padding: 0 0 0 62px;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        color: #222;
    }

        .left-menu dd a:hover {
            background-color: #f4f5f9;
        }

    .left-menu dd.active a, .left-menu dd.active a:hover {
        background-color: #16a085;
        color: #fff;
    }

.icon-user {
    margin-right: 10px;
}

.content-right {
    width: 959px;
    min-height: 660px;
    border-left: 1px solid #E7E7EB;
    padding: 10px;
}

.content-right-title {
    font-size: 14px;
    padding-bottom: 20px;
}

.footer {
    padding: 15px 0;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
