
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="page-header">

        <h1>
            密码修改
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                请填写以下信息
                <input type="hidden" id="error" value="@ViewBag.Error" />
            </small>
        </h1>

         

    </div><!-- /.page-header -->
    <form class="form-horizontal" role="form" action="/User/ChangePassword" method="post">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <label class="col-sm-3 control-label no-padding-right" for="loginId"> <span style="color:red;">*</span>旧密码 </label>
                    <div class="col-sm-9">
                        <input type="password" class="col-xs-10 col-sm-5" id="oldPwd" name="oldPwd" data-rel="tooltip" data-placement="bottom" title="请输入旧密码" placeholder="请输入旧密码" data-trigger="focus" />
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="loginPwd"><span style="color:red;">*</span>新密码</label>

                    <div class="col-sm-9">
                        <input type="password" class="col-xs-10 col-sm-5" id="newPwd" name="newPwd" data-rel="tooltip" data-placement="bottom" title="请输入新密码" placeholder="请输入新密码" data-trigger="focus" />
                    </div>
                </div>

                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="Name"> <span style="color:red;">*</span>确认密码 </label>

                    <div class="col-sm-9">
                        <input type="password" class="col-xs-10 col-sm-5" id="newPwdConfim" name="newPwdConfim" data-rel="tooltip" data-placement="bottom" title="请输入确认密码" placeholder="请输入确认密码" data-trigger="focus" />
                    </div>
                </div>


                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" id="btnSave">
                            <i class="ace-icon fa fa-check bigger-110 "></i>
                            提交
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110 "></i>
                            重置
                        </button>
                    </div>
                </div>

                <div class="hr hr-24"></div>
            </div><!-- /.col -->


        </div><!-- /.row -->
    </form>
</div><!-- /.page-content -->
<script>
    $(function () {
        $('[data-rel=tooltip]').tooltip();
        $('[data-rel=popover]').popover({ html: true });
        var error = $("#error").val();
        if (error != "") {
            var className = "gritter-error gritter-light";
            if (error == 1)
            {
                className = "gritter-info gritter-light";
                error = "保存成功！";
            }
            $.gritter.add({
                title: ''+error+'',
                text: '',
                class_name: className
            });
        }


    });


    $("#btnSave").click(function () {
        var result = CheckValue("oldPwd") && CheckValue("newPwd") && CheckValue("newPwdConfim");
        if ($("#newPwd").val() != $("#newPwdConfim").val())
        {
            $.gritter.add({
                title: '两次密码不一致',
                text: '',
                class_name: 'gritter-error'
            });

            return false;
        }
            return result;
        });

        function CheckValue(name) {
            var control = $("#" + name + "");
            if (control.val() == "") {
                control.focus();
                return false;
            }
            return true;
        }
</script>
 


