
@{
    ViewBag.Title = "400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- #section:settings.box -->
   
    <!-- /section:settings.box -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <!-- #section:pages/error -->
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
                        <span class="blue bigger-125">
                            <i class="ace-icon fa fa-sitemap"></i>
                            404
                        </span>
                        网页不见了
                    </h1>

                    <hr />
                    <h3 class="lighter smaller">我们到处寻找，但我们找不到它！</h3>

                    <div>
                        
                        <div class="space"></div>
                        <h4 class="smaller">处理建议:</h4>

                        <ul class="list-unstyled spaced inline bigger-110 margin-15">
                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                重新检查拼写错误的URL                               
                            </li>
                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                通知工程人员！
                            </li>
                        </ul>
                    </div>

                    <hr />
                    <div class="space"></div>

                    
                </div>
            </div>

            <!-- /section:pages/error -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
