
@{
    ViewBag.Title = "500页面出错";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- #section:settings.box -->
    
    <!-- /section:settings.box -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <!-- #section:pages/error -->
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
                        <span class="blue bigger-125">
                            <i class="ace-icon fa fa-random"></i>
                            500
                        </span>
                        不好，系统出现错误啦！
                    </h1>

                    <hr />
                    <h3 class="lighter smaller">
                        但我们正在努力
                        <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
                        修复！
                    </h3>

                    <div class="space"></div>

                    <div>
                        <h4 class="lighter smaller">处理建议:</h4>

                        <ul class="list-unstyled spaced inline bigger-110 margin-15">
                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                               通知工程人员！
                            </li>

                            <li>
                                <i class="ace-icon fa fa-hand-o-right blue"></i>
                                给我们更多的信息关于这个具体的错误是如何发生的！
                            </li>
                        </ul>
                    </div>

                    <hr />
                    <div class="space"></div>

                    @*<div class="center">
                        <a href="javascript:history.back()" class="btn btn-grey">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Go Back
                        </a>

                        <a href="#" class="btn btn-primary">
                            <i class="ace-icon fa fa-tachometer"></i>
                            Dashboard
                        </a>
                    </div>*@
                </div>
            </div>

            <!-- /section:pages/error -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
