
@{
    ViewBag.Title = "Footer";
    Layout = null;
}


<div class="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">同程旅游</span>
               
            </span>

            &nbsp; &nbsp;
         
        </div>

        <!-- /section:basics/footer -->
    </div>
</div>
