@{
    ViewBag.Title = "Sidebar";
    Layout = null;
}

<div class="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success"><i class="ace-icon fa fa-signal"></i></button>
        <button class="btn btn-info"><i class="ace-icon fa fa-pencil"></i></button>
        <button class="btn btn-warning"><i class="ace-icon fa fa-users"></i></button>
        <button class="btn btn-danger"><i class="ace-icon fa fa-cogs"></i></button>
    </div>
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
    </div>
</div>



<ul class="nav nav-list">
    <li ng-repeat="item in ::sidebar.root"
        ng-class="{'open':item.submenu && isSubOpen(item.name), 'active': isActiveItem(item.name), 'hover': $parent.ace.settings.hover, 'highlight':
        $parent.ace.settings.highlight}">

        <a ng-if="!item.submenu" ui-sref="{{item.url}}">
            <i ng-if="item.icon" class="menu-icon" ng-class="[item.icon]"></i>

            <span ng-if="item['level-1']" class="menu-text">
                {{::item.title}}

                <span ng-if="item.badge" ng-class="['badge', item['badge-class'], item['tooltip-class']]" uib-tooltip-html="'{{item.tooltip}}'" tooltip-placement="right" ng-bind-html="::item.badge"></span>
                <span ng-if="item.label" ng-class="['label', item['label-class']]" ng-attr-title="{{item['label-title']}}" ng-bind="::item.label"></span>
            </span>

            <i ng-if="!item.icon && item['level-2']" class="menu-icon fa fa-caret-right"></i>
            <span ng-if="!item['level-1']">{{::item.title}}</span>
        </a>

        <a ng-if="item.submenu" href="" ng-class="'dropdown-toggle'" ng-click="toggleSubmenu(item.name)">
            <i ng-if="item.icon" class="menu-icon" ng-class="[item.icon]"></i>

            <span class="menu-text">
                {{::item.title}}

                <span ng-if="item.badge" ng-class="['badge', item['badge-class'], item['tooltip-class']]" uib-tooltip-html="'{{item.tooltip}}'" tooltip-placement="right" ng-bind-html="::item.badge"></span>
                <span ng-if="item.label" ng-class="['label', item['label-class']]" ng-attr-title="{{item['label-title']}}" ng-bind="::item.label"></span>
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu" ng-if="item.submenu" ng-attr-data-name="{{item.name}}">
            <li ng-repeat="item in ::item.submenu"
                ng-include="'../Content/angular/views/layouts/default/partial/sidebar/item.html'"
                ng-class="{'open':item.submenu && isSubOpen(item.name), 'active': isActiveItem(item.name), 'hover': $parent.ace.settings.hover}">


            </li>
        </ul>

    </li>
   


</ul>

<div class="sidebar-toggle sidebar-collapse">
    <i class='ace-icon fa' ng-class="{'fa-angle-double-left': !ace.sidebar.minimized, 'fa-angle-double-right': ace.sidebar.minimized}"></i>
</div>

