@{
    ViewBag.Title = "欢迎使用自助支付平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <h1>
            欢迎使用生产计划系统
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-check green"></i>

                当前版本
                <strong class="green">
                    
                    <small>(v1.0)</small>
                </strong>
               
            </div>
        </div>
    </div>
   
    @*<div class="row">
        <div class="col-xs-12">
            <iframe allowtransparency="true" frameborder="0" width="565" height="98" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=1&v=0&d=3&bd=0&k=000000&f=000000&q=1&e=1&a=1&c=54511&w=565&h=98&align=center"></iframe>
        </div>
    </div>*@
</div>

